<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmação de Pagamento - Feedbit</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f9;
      margin: 0;
      padding: 0;
      color: #333;
    }
    .container {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .header {
      background-color: #6a0dad;
      color: #ffffff;
      padding: 20px;
      text-align: center;
    }
    .header h1 {
      margin: 0;
      font-size: 24px;
    }
    .content {
      padding: 20px;
    }
    .content p {
      font-size: 16px;
      line-height: 1.6;
    }
    .footer {
      text-align: center;
      padding: 10px;
      font-size: 14px;
      color: #777;
    }
    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #6a0dad;
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Pagamento confimado! 🎉</h1>
    </div>
    <div class="content">
      <p>Olá, {{name}}! 😊</p>
      <p>Estamos felizes em confirmar que recebemos seu pagamento pelo serviço <strong>Feedbit</strong>. Estamos muito empolgados em tê-lo conosco!</p>

      <p>Se você tiver alguma dúvida ou precisar de assistência, sinta-se à vontade para entrar em contato conosco. 💬</p>
      <p>Obrigado por escolher o Feedbit! 🥳</p>
      <p>Atenciosamente,<br>A equipe do Feedbit</p>
      {{!-- <a href="{{supportUrl}}" class="button">Entre em contato</a> --}}
    </div>
    <div class="footer">
      <p>&copy; 2024 Feedbit. Todos os direitos reservados.</p>
    </div>
  </div>
</body>
</html>
