<!DOCTYPE html>
<html>
<head>
    <title>E-mail de Boas-Vindas</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
        }
        h1 {
            color: #6a0572;
        }
        p {
            color: #4b0082;
        }
    </style>
</head>
<body>
    <h1>Bem-vindo à nossa comunidade!</h1>
    <p>Prezado(a) {{email}},</p>
    <p>Obrigado por se juntar à nossa comunidade. Estamos empolgados em tê-lo(a) conosco!</p>
    <p>Se tiver alguma dúvida ou precisar de assistência, não hesite em nos contatar.</p>
    <p>Atenciosamente,</p>
    <p>A Equipe da Comunidade</p>
</body>
</html>
