name: Unit Tests

on:
  push:
    branches:
      - master

jobs:
  unit_tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install dependencies
      run: yarn

    - name: Run unit tests
      run: yarn test